.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .panel-container {
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
  }
  
  .panel {
    width: 30%;
    padding: 20px;
    background-color: #5ec78ae5;
    border: 1px solid #014925;
    border-radius: 10px;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #636c6d;
    color: white;
    border: none;
    cursor: pointer;
  }
  button:hover {
    background-color: #003102;
  }
  
  .user-cabinet-title {
    font-size: 50px;
    font-weight: bold;
    color: rgb(2, 83, 36);
    margin-bottom: 50px;
  }
  
  body {
    background-image: url("Money.png");
  }
  
  .header {
    background-color: rgba(3, 109, 8, 0.389);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    margin-top: 15px;
    border-radius: 0px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 70px;
  }
  
  .nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  .btn {
    color: #043a47;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.15s ease-out;
  }
  .btn:hover {
    transform: scale(1.05);
  }
  
  .btn2 {
    font-size: 16px;
    padding: 10px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.15s ease-out;
  }
  .btn2:hover {
    transform: scale(1.05);
  }
  
  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b10d0d;
  }
  
  .title-text {
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0 1rem;
    letter-spacing: -0.25rem;
    -webkit-animation: title-animation 1s ease-in-out infinite alternate;
            animation: title-animation 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes title-animation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(15rem);
    }
  }
  
  @keyframes title-animation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(15rem);
    }
  }
  .navbar__logo {
    font-size: 22px;
    font-family: cursive;
  }
  
  ul {
    list-style: none;
    display: flex;
  }
  
  li {
    margin: 0 10px;
  }
  
  a {
    color: #02361c;
    text-decoration: none;
    font-weight: bold;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 75vh;
  }